/BookmarkMergedSurfaceOrdering
/BrowsingTopicsSiteData
/BrowsingTopicsSiteData-journal
/BrowsingTopicsState
/DIPS
/ExtensionActivityComp
/ExtensionActivityEdge
/ExtensionActivityEdge-journal
/Favicons
/Favicons-journal
/History
/History-journal
/LOCK
/LOG
/LOG.old
/Login Data
/Login Data For Account
/Login Data For Account-journal
/Login Data-journal
/Network Action Predictor
/Network Action Predictor-journal
/Preferences
/README
/Secure Preferences
/ServerCertificate
/ServerCertificate-journal
/SharedStorage
/Top Sites
/Top Sites-journal
/Vpn Tokens
/Vpn Tokens-journal
/Web Data
/Web Data-journal
/favorites_diagnostic.log
/heavy_ad_intervention_opt_out.db
/heavy_ad_intervention_opt_out.db-journal
