body{
	background-color: #f9f9f9;
}

.mobile-container {
    max-width: 430px;    
    margin: 0 auto;      
    height: 100vh;       
    background-color: #ffffff;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    padding: 0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
