body{
	background-color: #f9f9f9;
}
.home-page-layout {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-page-component {
    width: 60%; 
    max-width: 800px;
}

.home-page-component .btn {
    width:150px; 
}

.mobile-container {
    max-width: 430px;    
    margin: 0 auto;      
    height: 100vh;       
    background-color: #ffffff;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    padding: 0;          
}