.home-page-layout {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-page-component {
    width: 60%; /* 기존보다 너비를 넓게 설정 */
    max-width: 800px; /* 최대 너비 제한 */
}

.home-page-component .btn {
    width:150px /* 버튼 너비를 기존보다 더 넓게 설정 */
}
